<meta name="keywords" content="Azienda Agricola Emanuele Giordano biologico emanuele giordano azienda agricola formignano cesena forli">
<meta name="description" content="L'azienda agricola Giordano Emanuele nasce nel 1990 a Formignano, in provincia di Forlì-Cesena. La scelta della terra fu fatta dal padre del
fondatore dell'azienda, che si trasferì su queste magnifiche colline dalla Sicilia.">

<footer class="ct-footer gall">
  <div class="ct-footer-post">
    <div class="container">
      <div class="inner-left">
        <p class="azienda">Azienda Agricola Giordano Emanuele | Via Chiesa, 466, Formignano(FC), 47522</p>
      </div>
    </div>
  </div>
</footer>
