body,
.galleryBody{
	background-image: url("./../img/lavanda_back.jpg");

	/* Full height */
	height: -webkit-fill-available;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
