.chi-siamo{
    margin: 0 4%;
}

.space-image{
    display: flex;
    flex-direction: row;
}

.img{
  margin: auto;
}

.title{
  margin: 0 auto 2% auto;
  display: flex;
  justify-content: center;
}

.history{
  margin-top: 3%;
  font-weight: 500;
	font-size:1.4em;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  text-align: justify;
}

.chi-siamo-footer{
  background-color: #111;
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (max-width:1100px){
  .space-image{
    display: flex;
    flex-direction: column-reverse;
  }
  .img{
    margin: 0 auto 2% auto;
    width: auto;
  }
}
