.sede{
  margin-top: 16px;
  text-align: center;
}

.map_and_description{
  display: flex;
  justify-content: space-around;
  margin: 5em 0;
}

.join{
  width: 30em;
  height: 30em;
}

.text-c{
  padding: 0.5%;
  font-family: 'Moul', cursive;
  font-weight: 500;
  font-size: 1.4em;
}

.interlinea{
  line-height: 2.5em;
}

@media screen and (max-width:768px){
  iframe{
    width: 450px;
  }
}

@media screen and (max-width: 990px){
  .map_and_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0;
  }
}
