li{
  list-style: circle;
  list-style-position: inside;
  font-weight: 500;
	font-size:1.4em;
  text-align: justify;
}

.chi-siamo-footer{
  background-color: #111;
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
}

.space-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.img{
  margin: auto;
}

@media screen and (max-width:768px){
  .chi-siamo-footer{
    position: relative;
  }
}

@media screen and (max-width:1100px){
  .space-image{
    display: flex;
    flex-direction: column-reverse;
  }
  .img{
    margin: 0 auto 2% auto;
    width: auto;
  }
}
