html,
body,
img,
figure {
    max-width: 100%
}

html,
body {
    overflow-x: hidden;
    color: #000;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased
}

/* a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit
}

a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
} */

.ct-u-paddingTop10 {
    padding-top: 10px !important
}

.ct-footer {
    background-color: #111;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.ct-footer-post {
    background: rgba(255,255,255,0.1);
    /* padding: 30px 0; */
}

.ct-footer-post .inner-left,
.ct-footer-post .inner-right {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.ct-footer-post p {
    color: #fff;
}

@media screen and (max-width:768px) {
  .ct-footer {
      position: relative;
  }
    .ct-footer-post p {
        display: inline-block
    }
}

@media (min-width:992px) {
    .ct-footer-post .inner-left {
        float: left
    }
    .ct-footer-post .inner-right {
        float: right
    }
}

@media (max-width:991px) {
    .ct-footer-post {
        text-align: center
    }
}
