.gallery-container{
  /* padding:25px 0; */

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

figcaption{
  font-size: 1.2em;
  padding-top: 5px;
  font-weight: 500;
  background-color: rgba(255,255,255,.7);
  text-align: center;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.closeBtn {
  position: absolute;
  top: 15px;
  right: 53px;
  color: #f1f1f1;
  font-size: 65px;
  font-weight: bold;
  transition: 0.3s;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.galleryImg:hover{
  cursor: pointer;
}

.galleryBody .ct-footer{
  position: sticky;
  bottom: 0;
}

.marginTB{
  margin: 0 0 2% 0;
}

@media screen and (max-width: 768px){
  .galleryBody .ct-footer{
    position: relative;
  }
}
