.beforeHeader{
  background-color: 	rgba(233,215,0, 0.7);
  columns: 2;
  padding: 1% 4%;
}

.text{
  padding: 0.5%;
  font-family: 'Moul', cursive;
  font-size: 1.2em;
}

header {
  background-image: linear-gradient(to right, lightgreen , yellow); /* Standard syntax (must be last) */
  width:100%;
  height: 40px;
}

header .container .mobile_nav .burger {
  width: 19px;
  height: 19px;
  position: relative;
  overflow: hidden;
}

.container {
  margin: auto;
  display: block;
  height: 100%;
  transition: 0.3s;
  max-width: 90%;
}

header .container .head_nav {
  margin: 10px 2px;
  display: block;
}

a:hover{
  text-decoration: none;
  color:inherit;
}

/* .hamburger{
  display: none;
}
.cross{
  display: none;
}

@@media screen and (max-width: 500px) {
  .hamburger{
    display: block;
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:block;
    display: none;
    position:absolute;
    top:0px;
    right:0;
    padding:7px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
} */

.hamburger, .cross{
  display: none;
}

@media screen and (max-width: 768px) {
  header{
    height: auto;
  }
  .hamburger, .cross{
    display: block;
    cursor: pointer;
    background-color: rgba(255,255,255,.15);
    margin: 0px 0 0 95.1%;
    padding-top: 0.5%;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
  }

  header .container .head_nav {
    display: flex;
    justify-content: center;
  }

}
