a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.azienda, .indirizzo{
  font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.azienda{
  font-size: 1.2em;
}

.indirizzo{
  font-size: 1.1em;
}

header .container .logo span:nth-of-type(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
header .container .mobile_nav {
  margin: 1px 10px 0;
  display: none;
}
header .container .mobile_nav .burger {
  width: 19px;
  height: 19px;
  position: relative;
  overflow: hidden;
}

header .container .mobile_nav .burger .mobile_nav__label {
  margin: -10px 5px;
  width: 135px;
  position: absolute;
}
header .container .mobile_nav .burger .stripe {
  height: 4px;
  background: black;
  position: absolute;
  transition: 0.2s ease;
}
header .container .mobile_nav .burger .top {
  right: 0;
  top: 0;
  width: 100%;
}
header .container .mobile_nav .burger .middle {
  left: 0;
  top: 0;
  margin: 6.9px 0;
  width: 60%;
}
header .container .mobile_nav .burger .bottom {
  right: 0;
  top: 0;
  margin: 14px 0;
  width: 80%;
}

header .container .head_nav ul {
  text-align: center;
}
header .container .head_nav ul .visited a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: black;
  margin: 15.5px 0;
  right: 0;
}
header .container .head_nav ul li  {
  display: inline-block;
  margin: 0 15px;
}
header .container .head_nav ul li a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
  position: relative;
}
header .container .head_nav ul li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background: black;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 15.5px 0;
  right: 0;
}
header .container .head_nav ul li a:hover:after {
  width: 100%;
  left: 0;
}
header .container .icons {
  min-width: 85px;
}
header .container .icons a {
  margin: 0 5px 0;
  display: block;
  height: 27px;
  width: 27px;
}
header .container .icons a:hover svg {
  fill: #4c4c4c !important;
}
header .container .icons a:active svg {
  fill: #3F51B5 !important;
}
header .container .icons .block {
  display: inline-block;
}
header .container .icons svg {
  display: block;
  transition: 0.2s ease;
}

.mobile_menu {
  background: black;
  width: 90%;
  height: 420px;
  top: 65px;
  left: 0;
  margin: 10px 20px;
  border-radius: 4px;
  position: absolute;
  display: none;
}
.mobile_menu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #000000 transparent;
  margin: -10px 35px;
}
.mobile_menu nav {
  padding: 50px;
}
.mobile_menu nav ul .slide a {
  opacity: 1;
  position: relative;
  animation: hidecolor 0.8s ease;
}
.mobile_menu nav ul .slide a:before {
  content: "";
  position: absolute;
  background: #3F51B5;
  width: 0%;
  height: 35px;
  animation: slide 0.8s ease;
}
.mobile_menu nav ul li {
  margin: 30px 0px;
}
.mobile_menu nav ul li a {
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 0px;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .mobile_menu {
    display: none;
  }

  header .container {
    width: 700px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    padding: 0 20px;
  }
  header .logo span {
    font-size: 20px !important;
  }

  .mobile_menu {
    height: 295px;
  }
  .mobile_menu:before {
    margin: -10px 5px;
  }
  .mobile_menu nav {
    padding: 30px 50px;
  }
  .mobile_menu nav ul li {
    margin: 20px 0px;
  }
  .mobile_menu nav ul li a {
    font-size: 18px;
  }
  .mobile_menu nav ul li a:before {
    height: 23px !important;
  }
}
/* QUI */
@media only screen and (max-width: 800px) {
  header .container .head_nav ul li  {
    display: flex;
    justify-content: center;
  }
}
