.homeContent{
  padding:35px 0;
}

.span4 .img-left {
    float: left;
    margin-right: 20px;
}

.span4 .img-right {
    float: right;
    margin-left: 20px;
}

.text{
  font-weight: 500;
	font-size:1.4em;
  text-align: justify;
}

.span4 p {
	font-weight: 500;
	font-size:1.4em;
  text-align: justify;
}

.home-content-title{
  font-size: 28px;
}
