p, span, a, div, input {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

.wrapper{
  background-repeat: no-repeat;
  background-size: contain;
}

.body-text{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.owner-info{
  display: flex;
  flex-direction: column;
}

.owner-info p{
  line-height: .5;
}
