.beforeHeader
  display: flex
  justify-content: space-between
  background-color: rgba(233,215,0, 0.7)
  padding: 1% 4%
  flex-direction: column
  .logo
    width: 64px
  .text
    max-width: 90%
    padding: 0.5%
    font-family: 'Moul', cursive
    font-size: 1.2em

@media screen and ( min-width: 925px )
  .beforeHeader
    flex-direction: row
    .text
      max-width: 70%
